html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eceff4;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-items-container {
  max-height: 700px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menu-header {
  display: flex;
  align-items: stretch;
  border: 1px solid #434c5e;
  background-color: #434c5e;
  color: #e5e9f0;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.menu-title {
  flex-grow: 1;
  padding: 8px 30px;
  user-select: none;
}

.menu-back {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #e5e9f0;
  margin: 7px 10px;
}

.menu-item {
  text-align: left;
  min-width: 512px;
  padding: 8px 30px;
  background-color: #e5e9f0;
  border-left: 1px solid #434c5e;
  border-right: 1px solid #434c5e;
  border-bottom: 1px solid #434c5e;
  color: #2e3440;
  user-select: none;
  cursor: pointer;
  font-family: arial, sans-serif;
  transition: background-color 150ms;
  box-sizing: border-box;
}

.menu-item:hover {
  background-color: #d8dee9;
}

:root {
  /* nord color palette */
  /* polar night */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  /* snow storm */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  /* frost */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  /* aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;


  /* Base colors */
  --tp-base-background-color: var(--nord1);
  --tp-base-shadow-color: var(--nord1);

  /* Button-like control colors */
  --tp-button-background-color: var(--nord0);
  --tp-button-background-color-active: var(--nord0);
  --tp-button-background-color-focus: var(--nord2);
  --tp-button-background-color-hover: var(--nord3);
  --tp-button-foreground-color: var(--nord4);

  /* Folder colors */
  --tp-folder-background-color: var(--nord2);
  --tp-folder-background-color-active: var(--nord2);
  --tp-folder-background-color-focus: var(--nord2);
  --tp-folder-background-color-hover: var(--nord2);
  --tp-folder-foreground-color: var(--nord6);

  /* Input control colors */
  --tp-input-background-color: var(--nord0);
  --tp-input-background-color-active: var(--nord0);
  --tp-input-background-color-focus: var(--nord0);
  --tp-input-background-color-hover: var(--nord2);
  --tp-input-foreground-color: var(--nord4);
  --tp-input-guide-color: var(--nord5);

  /* Monitor control colors */
  --tp-monitor-background-color: var(--nord1);
  --tp-monitor-foreground-color: var(--nord4);

  /* Misc */
  --tp-label-foreground-color: var(--nord9);
  --tp-separator-color: var(--nord3);
}

.start_menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

.start_menu .tp-lblv_v {
  min-width: 420px;
}

.search-pane-container {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 800px;
}

.search-pane-container .tp-lblv_v {
  min-width: 700px;
}

.root-container {
  width: 100%;
  height: 100%;
}

/* .graph-container {
  width: 100%;
  height: 100%;
} */

.grafer_container {
  width: 100%;
  height: 100%;
}

.grafer_tooltip {
  display: none;
  background: #C8C8C8;
  margin-left: 28px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  /*width:200px;*/
  /*height:100px;*/
  user-select: none;
}
